<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="serviceConfig" type="keep_dns_in_sync_with_ip.ServiceConfigSection, keep-dns-in-sync-with-ip" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <serviceConfig pollFrequencyInMinutes="60">
    <cPanel>
      <username value="username" />
      <password value="password" />
      <cPanelURL value="cpanelurl" />
      <domain value="domain" />
      <DNSNames>
        <DNSName value="dns1" />
        <DNSName value="dns2" />
        <DNSName value="dns3" />
      </DNSNames>
    </cPanel>
  </serviceConfig>
</configuration>